@model IEnumerable<DoAnWeb.Models.EF.Category>
@{
    ViewBag.Title = "Quản Lý Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Tìm Kiếm -->
        <div class="navbar-nav align-items-center">
            @using (Html.BeginForm("Index", "Category", FormMethod.Get, new { }))
            {
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    @Html.TextBox("SearchText", null, new { @type = "text", @class = "form-control border-0 shadow-none", @placeholder = "Tìm kiếm...", @aria_label = "Tìm kiếm..." })
                </div>
            }
        </div>
        <!-- /Tìm Kiếm -->
    </div>
</nav>
<!-- Content Header (Page header) -->
<section class="content-header" style="margin-top:20px">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8">
                <h1 style="margin-left: 58%; font-weight: bold; font-size:35px">Quản Lý Danh Mục</h1>
            </div>
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home">Trang Admin</a></li>
                    <li class="breadcrumb-item active"><a href="/admin/category">@ViewBag.Title</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <a href="/admin/category/add" class="btn btn-primary">Thêm Mới</a>
            </div>
        </div>
        <div class="card-body">
           
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên danh mục</th>
                            <th>Thứ tự</th>
                            <th>Chức năng</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Any())
                        {
                            var i = 1;
                            foreach (var item in Model)
                            {
                                <tr id="trow_@item.id">
                                    <td>@i</td>
                                    <td>@item.title</td>
                                    <td>@item.position</td>
                                    <td>
                                        <a href="/admin/category/edit/@item.id" class="btn btn-sm btn-primary">Sửa</a>
                                        <a href="#" data-id="@item.id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                    </td>
                                  
                                </tr>
                                i++;
                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4">Không có bản ghi nào</td>
                            </tr>
                        }
                    </tbody>
                </table>
            
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không!');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/category/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                            
                        }

                    })
                }

            });
            
        });
    </script>
    }
